.sentByUser {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.sentByUser .textMessage {
  border-radius: 20px;
  padding: 8px 15px;
  background: #0078ff;
  color: white;
  max-width: 200px;
  word-wrap: break-word;
}

.sentByUser > div {
  display: flex;
  justify-self: flex-end;
  flex-direction: column;
  text-align: right;
}
.senderName {
  font-size: 0.7rem;
  margin-bottom: 5px;
  color: #999999;
}

.notSentByUser .textMessage {
  background: #eeeeee;
  padding: 8px 15px;
  border-radius: 20px;
  max-width: 200px;
  word-wrap: break-word;
  color: #222222;
  line-height: 1.3;
  margin-bottom: 10px;
}
